/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {font-size: 62.5%;}

.flex {
  display: flex;

  &.wrap {
    flex-flow: row wrap;
  }

  &.col {
    flex-flow: column;

    &.wrap {
      flex-flow: column wrap;
    }
  }
}

body {
  background-image: linear-gradient(90deg, rgba(255, 238, 7, 0.637), rgba(0, 128, 0, 0.829), rgba(0, 0, 255, 0.829), rgba(198, 21, 214, 0.692));
}

/* carrossel */

section {
  justify-content: center;
  padding: 6.1rem;
}

.carrossel {
  max-width: 100rem;
  position: relative;

  & .container {
    overflow: hidden;
  }

  & .imagens {
    gap: 0.82rem;
    width: max-content;

    & .imagem {
      align-items: center;
      aspect-ratio: 1/1;
      border-radius: 2rem;
      justify-content: center;
      overflow: hidden;
      position: relative;
      width: min(calc(calc(100rem - calc(2 * 0.82rem)) / 3),
      calc(calc(100vw - calc(2 * 0.82rem)) / 3));

      &.emfoco::after {
        background-color: transparent;
        backdrop-filter: none;
      }

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.616);
        backdrop-filter: blur(3px);
      }

      & img {
        height: 100%;
      }
    }
  }

  & .botao {
    background-color: #303030c7;
    border-radius: 0.7rem;
    color: bisque;
    cursor: pointer;
    font-size: 3rem;
    height: 4rem;
    width: 5rem;
    z-index: 1;

    align-items: center;
    justify-content: center;
    position: absolute;

    top: 50%;
    
    &.esquerda {transform: translate(-50%, -50%);}

    &.direita {
      right: 0;
      transform: translate(50%, -50%);
    }
  }
}
