/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {font-size: 62.5%;}

.flex {
  display: flex;

  &.wrap {
    flex-flow: row wrap;
  }

  &.col {
    flex-flow: column;

    &.wrap {
      flex-flow: column wrap;
    }
  }
}

body {
  background-color: #023f0cff;
}

/* carrossel */

section {
  justify-content: center;
  padding: 6.1rem;
}

.carrossel {
  max-width: 100rem;

  & .imagens {
    gap: 0.82rem;

    & .imagem {
      align-items: center;
      border-radius: 1.5rem;
      justify-content: center;
      aspect-ratio: 1/1;
      overflow: hidden;
      positon: realative;
      width: 32.78666rem;

      &.emfoco::after {
        background-color: transparent;
      }

      &::after {
        content: "";
        background-color: #023f0c5c;
        position: absolute;
        height: 100%;
        width: 100%;
      }

      & img {
        height: 100%;
      }
    }
  }
}