/* RESET */
/* * {
  margin: 0;
  box-sizing: border-box;
} */

/* GLOBAL */
body { 
  color: #404040;
  font-family: 'Montserrat', sans-serif;
}

a { text-decoration: none; }

h1 {
  font-size: 35px;
  font-weight: 600;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 35px;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

.botao {
  color: rgb(47, 119, 182); /* cor provisória */
  font-size: 24px;
  font-weight: 700;
}

.realce-semibold { font-weight: 600;}

/* MENU DE NAVEGAÇÃO */
ul {
  font-size: 14px;
  font-weight: 600;
}

li { list-style-type: none; }

.item-lista-cabecalho a {
  color: #112E61;
  line-height: 1px;
  text-transform: uppercase;
}

/* SEÇÃO HERO */
.hero-paragrafo {
  color: #404040;
  font-size: 19px;
  font-weight: 400;
  line-height: normal;
}

/* SEÇÃO CONTEÚDOS GRATUÍTOS */
.gratuito-h2 {
  color: #404040;
  font-size: 35px;
  font-weight: 400;
}

.gratuito-realce {
  color: #7A40BE;
  font-weight: 500;
}

.gratuito-h3 {
  color: rgb(47, 119, 182); /* cor provisória */
  font-size: 23px;
  font-weight: 700;
}

.gratuito-link-lista {
  color: #404040;
  font-size: 19px;
  font-weight: 400;
}

/* SEÇÃO DIFERENCIAIS HASHTAG */
.barra-vertical {
  background-color: #FFB20F;
  height: 150px;
  width: 14px;
}

.diferenciais-h2 {
  color: rgb(47, 119, 182); /* cor provisória */
  font-size: 35px;
  font-weight: 400;
}

/* h2 strong {
  font-weight: 600;
} */

.diferenciais-p {
  color: rgb(47, 119, 182); /* cor provisória */
  font-size: 19px;
}

.diferenciais-h3 {
  color: #005E88;
  font-size: 24px;
  font-weight: 600;
}

.texto-diferenciais-hashtag {
  color: #404040;
  font-size: 16px;
}

.diferenciais-h3-empresas {
  color: #404040;
  font-size: 35px;
  font-weight: 400;
}

.realce-empresas {
  color: #005E88;
  font-weight: 600;
}

/* OBRE O QUE FALAM DA HASHTAG*/
/* .oquefalam-realce {
  font-weight: 600;
} */

/* POSTS DO BLOG DA HASHTAG */
.blog-postadoem {
  font-size: 15px;
}

.blog-postadoem a {
  color: #F7A70C;
  font-weight: 600;
}

.blog-titulopost {
  font-size: 24px;
  font-weight: 600;
}

.blog-descricaopost { font-size: 17px; }

/* AJUDA */
/* .comoajudar-realce { font-weight: 600; } */

.comoajudar-lista, .comoajudar-paragrafo { font-size: 19px; }

.comoajudar-lista a, .comoajudar-paragrafo a {
  color: #008FF7;
  font-weight: 600;
}

.comoajudar-paragrafo b { font-weight: 600; }

/* RODAPÉ */
.rodape-titulo {
  font-size: 22px;
  font-weight: 600;
}

.rodape-subtitulo {
  font-size: 20px;
  font-weight: 500;
}

.rodape-seg-subtitulo {
  font-size: 18px;
  font-weight: 500;
}

.rodape-link { color: #1A77A4;}