body {
  font-family: 'Montserrat', sans-serif;
}

figcaption {
  font-size: 12px;
  font-style: italic;
}

h1 {
  font-size: 45px;
  line-height: 1;
}

h2 {
  font-size: 32px;
  line-height: 1.1;
}

h3 {
  font-size: 24px;
  line-height: 1.2;
}

p {
  font-size: 18px;
  line-height: 1.4;
}

a {
  color: #c44105;
  font-size: 24px;
  font-weight: 700;
  text-decoration: double;
  text-decoration-line: underline;
}

span {
  color: #0588c4;
}

.realce {
  color: #0588c4;
}

p em {
  text-decoration: double;
  text-decoration-line: underline;
}

li {
  color: #035276;
  font-style: italic;
}