* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {font-size: 62.5%;}

body {
  background-color: rgb(197, 193, 193);
  color: rgb(7, 5, 5);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}

p {
  font-size: 3.32rem;
  font-weight: 700;
  transition-property: transform;
  transition-duration: 5s;
  transition-timing-function: ease-in-out;
  /* transition-delay: ; */
  
  &:hover {
    color: #ff6600;
    transform: translateX(1400px);
  }
}
